<!doctype html>
<html lang="en">
    <head>
        {{ partial "meta.html" . }}
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/grid.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/jquery.typeahead.min.css" />
        <!--
        {{ partial "header.includes.html" . }}
        -->
    </head>
    <body>
        <header>
            {{ partial "mainnav.html" . }}
        </header>
        <main>
            {{ partial "home.html" . }}
        </main>
        <footer>
            {{ partial "footer.copyright.html" . }}
            {{ partial "footer.includes.html" . }}
        </footer>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/jquery.typeahead.min.js"></script>
        <script type="text/javascript" src="/js/script.js"></script>
    </body>
</html>
